var new_comment = $("<%= escape_javascript(render(:partial => @comment)) %>").css('opacity', 0);
$('#comments').prepend(new_comment);
$('#comment_<%= @comment.id %>').animate({
									opacity: 1,
									}, 500, function() {
									// Animation complete.
									});
$('#new_comment')[0].reset();